﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Add Location</h2>
    <!--
    Add Location Form
    -->

    <form>
        Name: <br/><input type="text" id="name" name="name"/><br/>
        Address: <br/><input type="text" id="address" name="address"/><br/>
        <input type="submit" value="Save"/>
    </form>
</div>

<hr/>

<div>
    <!--
    Locations List    
    -->

    <h2>Locations</h2>
    <ul>
        <li><a href="#">My Location<br/>123 Street, Atlanta, GA 30305</a></li>
    </ul>
</div>